

/*div{
	border: 1px solid yellow;
}*/

/*.content{
	color:white;
	text-align: center;
}

.red {
	background: red;
	height: 100px;
}

.blue{
 background: blue;
 height: 100px;
} */

/*img {
	width: 100%;
}
div {
	border: 1px solid black;
	height: 100px;
}*/
body{
  padding-top: 70px;
}
.jumbotron{
  color:#2c3e50;
}
.navbar-inverse{
  background:#2c3e50;
}